<div class="jumbotron">
  <div class="container">
    <h1>Power Conversion</h1>
  </div>
</div>
<div class="container">
  <h2>Watts</h2>
  <input type="text" class="form-control" id="watts" />
  <div id="results">
    
  </div>
</div>